body[data-md-color-primary=blue] .md-header__button.md-logo img,
body[data-md-color-primary=blue] .md-nav__title .md-nav__button.md-logo img {
    content: url("/assets/logo_dark.svg");
}

[data-md-color-primary=white] .md-nav__item .md-nav__link--active,
[data-md-color-primary=white] .md-typeset a {
    color: var(--md-accent-fg-color);
}

.md-header__title {
    visibility: hidden;
}

.md-header__button.md-logo img {
    height: 1.6rem;
    width: initial;
}

.md-nav__title .md-nav__button.md-logo img {
    width: 96px;
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        display: block;
    }

    .md-nav__title .md-logo {
        padding: 0;
    }

    .md-header__title {
        visibility: visible;
    }

    body[data-md-color-primary=blue] .md-nav__title .md-nav__button.md-logo img {
        content: url("/assets/logo.png");
        height: 1.6rem;
        width: 1.6rem;
    }
}

.md-nav__title {
    display: none;
}